{{#partial "title" }}
    Animal Sightings
{{/partial}}


{{#partial "content"}}
    <body style="background: linear-gradient(90deg, brown, saddlebrown );">
    <div class="card mt-7 mb-3" style="max-width: 1140px; max-height: 2000px;   background-color: transparent;">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/images/Facebook_Ranger_3b+2.jpg" width="474" height="548" alt="...">
        </div>
    <div class="col-md-5">
    <div class="card-body">
        <h1 class="h1 mb-3 text-white text-center">Sightings</h1>

            <div class="row">
            <div class="col-md-12">
                <p class="p text-white"><strong>Animal name : </strong><br class="br mt-3"> <li>{{ name }} </li>  </p>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12">
               <p class="p text-white"> <strong>Location: </strong><br class="br mt-3">  <li>{{ loci }} </li> </p>
            </div>
        </div>
        <div class="row">
         <div class="col-md-12">
                <p class="p text-white"><strong>Spotted on: </strong><br class="br mt-3"> <li>{{ date }} </li>  </p>
            </div>
            </div>
    </div>
    </div>
    </div>
    </div>


<!--    <br><button><a href='/' >Go Back</a></button>-->
<!--<br>-->

{{/partial}}

{{> layout.hbs}}
